@import './reset.css';
em,
i {
  font-style: normal;
}

ul,
li,
ol {
  list-style-type: none;
}

strong {
  font-weight: normal;
}

.center-self-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
