<template>
  <div id="app">
    <vue-particles color="#dedede" :particleOpacity="0.7" :particlesNumber="80" shapeType="circle" :particleSize="4" linesColor="#dedede" :linesWidth="1" :lineLinked="true" :lineOpacity="0.4" :linesDistance="150" :moveSpeed="3" :hoverEffect="true" hoverMode="grab" :clickEffect="true" clickMode="push">
    </vue-particles>
    <div class="center-self-xy">
      <header>手机号码拆分</header>
      <div class="main">
        <section class="totalPhone">
          <em>所有号码</em>
          <button v-on:click="handleClear('total')">清空</button>
          <em>{{totalPhoneArr.length}}行数据</em>
          <textarea name="totalPhone" id="totalPhone" v-model.trim="totalPhone" v-on:input="handelInput"></textarea>
        </section>
        <section class="splitButton">
          <button v-on:click="handleSplitPhone">拆分号码</button>
          <button v-on:click="handleClear('all')" class="clearAll">清空所有数据</button>
        </section>
        <section class="yld">
          <section>
            <em>移动号段</em>
            <button :data-clipboard-text="ydString" class="clipYd">复制</button>
            <button v-on:click="handleClear('yd')">清空</button>
            <em>{{ydArr.length}}行数据</em>
            <textarea name="yd" id="yd" v-model="ydString" disabled></textarea>
          </section>
          <section>
            <em>联通号段</em>
            <button :data-clipboard-text="ltString" class="clipLt">复制</button>
            <button v-on:click="handleClear('lt')">清空</button>
            <em>{{ltArr.length}}行数据</em>
            <textarea name="lt" id="lt" v-model="ltString" disabled></textarea>
          </section>
          <section>
            <em>电信号段</em>
            <button :data-clipboard-text="dxString" class="clipDx">复制</button>
            <button v-on:click="handleClear('dx')">清空</button>
            <em>{{dxArr.length}}行数据</em>
            <textarea name="dx" id="dx" v-model="dxString" disabled></textarea>
          </section>
        </section>
      </div>
    </div>

  </div>
</template>

<script>
// 引入clipboard
import Clipboard from 'clipboard';
import { getYysNames } from './js/phone_new';
export default {
  name: 'app',
  mounted() {
    this.$nextTick(() => {
      // 初始化复制功能
      let clipYd = new Clipboard('.clipYd');
      let clipLt = new Clipboard('.clipLt');
      let clipDx = new Clipboard('.clipDx');
      clipYd.on('success', e => {
        alert('移动号段复制成功')
        // 释放内存  
        clipYd.destroy()
      });
      clipYd.on('error', e => {
        // 不支持复制  
        console.log('该浏览器不支持自动复制')
        // 释放内存  
        clipYd.destroy()
      });
      clipLt.on('success', e => {
        alert('联通号段复制成功');
        // 释放内存  
        clipLt.destroy();
      });
      clipLt.on('error', e => {
        // 不支持复制  
        alert('该浏览器不支持自动复制');
        // 释放内存  
        clipLt.destroy();
      });
      clipDx.on('success', e => {
        alert('电信号段复制成功')
        // 释放内存  
        clipDx.destroy();
      })
      clipDx.on('error', e => {
        // 不支持复制  
        alert('该浏览器不支持自动复制');
        // 释放内存  
        clipDx.destroy();
      })
    })
  },
  data() {
    return {
      totalPhone: '',
      totalPhoneArr: [],
      ydArr: [],
      ltArr: [],
      dxArr: [],
    }
  },
  methods: {
    // totalTextarea改变时
    handelInput() {
      if (this.totalPhone === '') {
        this.totalPhoneArr = [];
      }
      else if (this.totalPhone.indexOf(',') !== -1) {
        this.totalPhoneArr = this.totalPhone.split(',');
        console.log(this.totalPhoneArr);
      } else {
        this.totalPhoneArr = this.totalPhone.split('\n');
      }
    },
    // 数据清空
    handleClear(type) {
      switch (type) {
        case 'yd':
          this.ydArr = [];
          break;
        case 'lt':
          this.ltArr = [];
          break;
        case 'dx':
          this.dxArr = [];
          break;
        case 'total':
          this.totalPhone = '';
          break;
        case 'all':
          this.totalPhone = '';
          this.totalPhoneArr = [];
          this.ydArr = [];
          this.ltArr = [];
          this.dxArr = [];
          break;
        default:
          break;
      }
    },
    // 拆分号码
    handleSplitPhone() {
      // 数据清空
      this.ydArr = [];
      this.ltArr = [];
      this.dxArr = [];
      if (!this.totalPhone) {
        alert('数据为空');
        return false;
      }
      for (const phoneNumber of this.totalPhoneArr) {
        let yysName = getYysNames(phoneNumber);
        if (yysName === '移动') {
          this.ydArr.push(phoneNumber);
        } else if (yysName === '联通') {
          this.ltArr.push(phoneNumber);
        } else if (yysName === '电信') {
          this.dxArr.push(phoneNumber);
        }
      }
    }
  },
  computed: {
    ydString() {
      return this.ydArr.join('\r');
    },
    ltString() {
      return this.ltArr.join('\r');
    },
    dxString() {
      return this.dxArr.join('\r');
    },
  }
}
</script>

<style lang="scss">
#app {
  width: 100vw;
  height: 100vh;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: url("./img/bg.png") no-repeat 0 0;
}
header {
  font-size: 36px;
  text-align: center;
}
.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: space-between;
  button {
    white-space: nowrap;
    cursor: pointer;
    background: #409eff;
    border: 1px solid #409eff;
    border-color: #409eff;
    color: #ffffff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin: 10px;
  }
  .clearAll {
    margin-top: 15px;
  }
  section.totalPhone {
    width: 400px;
    #totalPhone {
      height: 600px;
      width: 400px;
    }
  }
  section.splitButton {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: center;
  }
  section.yld {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    textarea {
      height: 200px;
      width: 400px;
    }
  }
}
</style>
